@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url('./images/bg-intro-mobile.png'), rgba(255, 121, 121, 1);
  background-repeat: no-repeat;
  background-size: cover;
  height: 934px;
}

header h1 {
  color: #fff;
  margin: 5.5rem 1.5rem 1rem 1.5rem;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.3px;
  text-align: center;
}

header p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #fff;
  margin: 0 1rem 4rem 1rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.choice {
  height: 88px;
  width: 327px;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.14688);
  border-radius: 5px;
  margin: 0 1.5rem 1.5rem 1.5rem;
  background-color: #5e54a4;
  cursor: pointer;
}

.choice h2 {
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  letter-spacing: -0.3px;
  margin: 1.125rem 4.125rem;
}

.form h2 span {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.3px;
}

.intro__form {
  height: 470px;
  width: 327px;
  border-radius: 10px;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.14688);
  background-color: rgba(255, 255, 255, 1);
}

.intro__form input {
  border-radius: 5px;
  border: 1px solid rgba(70, 57, 57, 0.147);
  background-color: rgba(255, 255, 255, 1);
  margin: 1.5rem 1.5rem 0 1.5rem;
  padding: 0 1rem;
  cursor: pointer;
  -webkit-border: none;
  height: 56px;
  width: 279px;
}

.intro__form input::placeholder {
  color: #3d3b48;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.25px;
  text-align: left;
  opacity: 0.75;
}

.intro__form button {
  cursor: pointer;
  height: 56px;
  width: 279px;
  border-radius: 5px;
  background-color: rgba(56, 204, 139, 1);
  box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.09) inset;
  color: #fff;
  line-height: 26px;
  margin: 1.5rem 1.5rem 0 1.5rem;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  border: none;
}

.intro__form button:hover {
  background-color: rgba(56, 204, 139, 0.8);
}

.intro__form p {
  font-weight: 400;
  width: 249px;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  color: #a6a1cf;
  margin: 0.5rem 2.4rem 1.5rem 2.4rem;
}

.intro__form p a {
  color: #f13737;
  cursor: pointer;
  text-decoration: none;
}

.error {
  font-family: 'Josefin Sans', sans-serif;
  color: #f96464;
  margin: 0.3rem 2.5rem;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
}

@media (min-width: 376px) {
  body {
    background: url('./images/bg-intro-desktop.png'), rgba(255, 121, 121, 1);
    background-repeat: no-repeat;
    background-size: cover;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header {
    width: 525px;
    margin: 17rem 2.8rem 18.125rem 0;
  }

  header h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -0.5px;
    text-align: left;
  }

  header p {
    width: 525px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #fff;
    text-align: left;
  }

  .choice {
    box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15);
    width: 540px;
    height: 60px;
  }

  .choice h2 {
    line-height: 26px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.27px;
    margin: 1.1rem 6rem;
    align-items: center;
    text-align: center;
  }

  .form h2 span {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.3px;
  }

  .intro__form {
    position: relative;
    height: 474px;
    width: 540px;
    border-radius: 10px;
  }

  .intro__form input {
    position: relative;
    height: 46px;
    width: 460px;
    border-radius: 5px;
    margin: 2rem 2.5rem 0 2.5rem;
  }

  .intro__form input:focus {
    outline: none;
    border: 1px solid rgba(94, 84, 164, 1);
  }

  .intro__form input::placeholder {
    height: 26px;
    width: 104px;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.25px;
  }

  .intro__form button {
    height: 56px;
    width: 460px;
    border-radius: 5px;
    margin: 2rem 2.5rem 0 2.5rem;
  }

  .intro__form p {
    width: 367px;
    font-size: 11px;
    line-height: 21px;
    text-align: center;
    margin: 0.5rem 5.4rem 0 5.4rem;
  }

  .error-image {
    position: relative;
    left: 455px;
    top: -35px;
    display: none;
  }

  .error {
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 17px;
    text-align: right;
    color: #ff7979;
    text-align: end;
    margin: -1.7rem 2.5rem -1.2rem 2.5rem;
    border: 1px solid #ff7979;
  }
  
  /* .round-icon {
    position: absolute;
    left: 245px;
    top: 13px;
    /* display: none; */
  }
}
